body {
    background-color: #121212;
    color: #000000;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: #000000;
}

.container {
    /* padding: 40px; */
    padding-right: 0;
}

.title {
    color: #ffffff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: 0.1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}

.detail__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    overflow: hidden;
}

.detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
}

.detail__container {
    margin-top: 500px;
}
* {
    margin: 0;
    padding: 0;
}

.hero-container {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background: center / cover no-repeat url("https://cdn.cnn.com/cnnnext/dam/assets/220210192331-20-europe-new-train-routes-2022-full-169.jpg");
    position: relative;
}
.hero-text {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
}

.hero-link {
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 50px;
    color: #ffffff;
}

.overlay {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
}
