{% extends 'base_home.html' %}
{% block content %}
<div class="home-page image is-2by1">
    <div class="hero-img">

    </div>
    <div id="home-text">
        <h1 id="hero-text">EXPLORE THE WORLD</h1>
        <p id="hero-para">Providing the inspiration and tools to make your travel dreams become a beautiful reality. The world awaits your exploration. May you wander in wonder and live the extraordinary.</p>

        <button class=" button is-dark"> <a class="explore-btn" href="posts/">Explore More</a></button>

    </div>
</div>
<div class="grid-container">
    <img class="hero-bottom" src="https://cdn1.matadornetwork.com/blogs/1/2021/01/The-Datai-Langkawi-Malaysia.jpg" alt="">
    <img class="hero-bottom" src="https://cdn1.matadornetwork.com/blogs/1/2021/01/Nandini-Jungle-Resort-Spa-Ubud-Bali.jpg" alt="">
    <img class="hero-bottom" src="https://cdn1.matadornetwork.com/blogs/1/2021/01/Bwindi-Lodge-Uganda.jpg" alt="">
    <img class="hero-bottom" src="https://thesmartlocal.com/images/easyblog_articles/2536/b2ap3_medium_image19.png" alt="">
</div>
{% endblock %}