{% extends 'base_home.html' %}
{% block content %}
<div class="home-page hero is-large image is-16by9">
    <div class="hero-img">

    </div>
    <div id="home-text">
        <h1>EXPLORE THE WORLD</h1>
        <p>Providing the inspiration and tools to make your travel dreams become a beautiful reality. The world awaits your exploration. May you wander in wonder and live the extraordinary.</p>

        <button class=" button is-dark"> <a class="explore-btn" href="main_app/templates/post_list.html">Explore More</a></button>

    </div>
</div>
<div>
    <img class="hero-bottom" src="" alt="">
    <img class="hero-bottom" src="" alt="">
    <img class="hero-bottom" src="" alt="">
    <img class="hero-bottom" src="" alt="">
</div>
{% endblock %}