{% extends 'base.html' %} 
{% block content %}
<h1>All Posts</h1>
<div class="home__playlists">
    {% for post in posts %}

        <div class="playlist mb-5">
            
              <div class="column is-half">
                
                      <div class="card small">
                        <div class="card-image">
                          <figure class="image is-16by9">
                            <img src="{{post.img}}" alt="post.title">
                        </figure>
                        </div>
                        <div class="card-content">
                        
                        <div class="content">
                            <span>No.{{forloop.counter}}</span>
                            <span><b>{{post.title}}</b> by : {{post.author}}</span>
                            <div>{{post.body}}</div>
                            
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
   
            {% endfor %}
        </div>
    </div>
{% endblock %}