{% extends 'base.html' %} 
{% block content %}


              <div class="media ">
                <img src="{{profile.profile_picture}}" alt="{{profile.user}}" />
            </div>
            <div class="tile">
                <h1 class="title_name ">Hello {{profile.name}}</h1>
            </div>
            <div class="detail__box ">
                <div class="buttons">
                  <a href="{% url 'profile_update' profile.pk %}" class="button is-outline">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>Edit Profile
                      </a>
                    </a href="{% url 'profile_delete' profile.pk %}" class="button is-outline">
                        <span class="icon ">
                            <i class="fas fa-trash-alt"></i>
                        </span>Delete Profile
                    </a>
                </div>
            
                    {% for post in profile.user.posts.all %}
                    
                    <div class="playlist mb-5">
            
                      <div class="column is-half">
                        
                              <div class="card small ">
                                <div class="card-image">
                                  <figure class="image is-16by9">
                                    <img src="{{post.img}}" alt="post.title">
                                  </figure>
                                </div>
                                <div class="card-content">
                                  
                                  <div class="content">
                                    <span>No.{{forloop.counter}}</span>
                            <span><b>{{post.title}}</b> by : {{post.author}}</span>
                            <div>{{post.body}}</div>
                           
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      <!-- <div>{{post}}</div> -->
                        {% empty %}
                    <article class="message is-black">
                    <div class="message-header">
                        <p>No posts listed</p>
                    </div>
                </div>
                    
                
                  {% endfor %}
           
          </div>
        </div>
    </div>
</div>
{% endblock %}